body {
    font-family: monospace;
}

.one {
    background-color: pink;
    font-size: 3vw;
}

#two {
    background-color: white;
    color: blue;
    font-size: 7vw;
}

.three {
    background-color: pink;
    font-size: 4vw;
}

#four {
    background-color: lightgreen;
    font-weight: 900;
    font-size: 4vw;
}

.five {
    background-color: pink;
    font-size: 3vw;
}